body{
    background-color:rgb(213, 48, 128);
}
button{
    background-color: ;
    
}
div{
    background-color:rgb(223, 95, 157);
    border-radius:5px;
    width: 500px;
    height: 350px;
    margin-left: 30%;
    
}